<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">
<%- model_class = Admin -%>

  <h3><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h3>
  </div>
  <div class="panel-body">
<%= render :partial => 'form' %>
  </div>


</div>