<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">
<%- model_class = User -%>
  <h3><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h3>
  </div>
  <div class="panel-body">

<%= render :partial => 'form' %>
</div>
    </div>